<p style="color: darkred;font-size: 25px">
  Availalbe Items
</p>

<table border="1px">
  <tr>
    <th>Item Name</th>
    <th>City</th>
    <th>Price</th>
  </tr>
  <% @items.each do |i| %>
      <tr>
        <td><%= i.title %></td>
        <td><%= i.city %></td>
        <td><%= i.price %></td>
      </tr>
  <% end %>
</table>

<%= link_to("Add New Item", {:action => 'create'}) %>




